---
import BaseHead from "../components/BaseHead.astro";

export interface Props {
	content: {
		title: string;
		description: string;
		pubDate?: string;
	};
}

const {
	content: { title, description, pubDate},
} = Astro.props;
---

<html lang="zh-CN">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			nav p a {
				margin-right: 24px;
			}
		</style>
	</head>

	<body>
		<main>
			<h1>{title}</h1>
			<time datetime={pubDate}>{pubDate}</time>
			<article>
				<slot />
			</article>
			<hr>
			<nav>
				<p>
					<a href="/">林茂春</a>
					<a href="/about">需要帮助？</a>
				</p>
			</nav>
		</main>
	</body>
</html>
